.imgProductos {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.colorBoton {
    color: black;
    background-color: #eedf13;
}

.colorBoton:hover {
    background-color: #eedf13;
    color: #000000;
}